DATABASE_URL="postgresql://exampleuser:thisisthepassword@localhost:5432/sample_test_database?schema=public"
BETTER_AUTH_SECRET=FWuAmCRhAZbVw9gUJwhVYbVKxOoMMS0a
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
